<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}
</style>
</head>
<body>
	<div>
	{% if state %}
	  {% if not form.errors %}
		{{ state }}
		<hr/>
	  {% endif %}
	{% endif %}
	<center>
	{% if form.errors %}
		{% if state %}
			{{ state }}
			<hr/>
		{% endif %}
		<p style="color:red;"> Please correct the following erro{{form.errors|pluralize}}</p>
	{% endif %}
	<form method="post" action="">
		{% csrf_token %}
		<table> 
			{{form.as_table}}
		</table>
		<input type="submit" value="Log In!"/>
	</form>
	</center>
	</div>
</body>
</html>