<!DOCTYPE html>
<html>
	<head>
		
		<title>Test</title>

		<link rel="stylesheet/less" type="text/css" href="/static/css/style.less" />
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
		<script src="/static/javascript/jquery.masonry.min.js"></script>
		<script src="/static/javascript/less-1.3.3.min.js"></script>
		<script src="/static/javascript/bootstrap-tooltip.js"></script>
		<script src="/static/javascript/jquery.clickoutside.min.js"></script>
		<script src="/static/javascript/jquery.ba-resize.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
		<script src="/static/javascript/extrajs.js"></script>

		

		<script>
		$(document).ready( function () {
			var $active = $('#active-cards');
			var $archive = $('#archived-cards');

			$archive.sortable();

			$active.find(".card").resizable({
				ghost: true,
				minWidth: 250,
				grid: 25,

				stop: function(event, ui) {
					var card = ui.element;
					var height = card.height();
					var width = card.width();
					var note_id = card.find('input[name=note_id]').val()
					var data = {'note_id': note_id, 'width': width, 'height': height};
					
					$.ajax({
					    type: 'POST',
					    data: data,
					    dataType: 'json',
					    url: 'save_size/',
					    success: function(result) {
					        console.log(JSON.stringify(result));
					    }
					});
					console.log(data)
					//console.log(card);
					//$active.masonry('reload');
				}
			});
    		
		    /*$active.masonry({
		        itemSelector: 	'.layout-card',
		        isResizable: 	true,
		        columnWidth: 	10
		    });*/
    
		    $active.sortable({
		        distance: 1,
		        forcePlaceholderSize: true,
		        items: '.layout-card',
		        placeholder: 'card-sortable-placeholder layout-card',
		        tolerance: 'pointer',
		        
		        start:  function(event, ui) {
		            		ui.item.addClass('dragging');
		                    //ui.item.parent().masonry('reload');
		        },
		        change: function(event, ui) {
		                	//ui.item.parent().masonry('reload');
		        },
		        stop:   function(event, ui) { 
		                	ui.item.removeClass('dragging');
		                	//ui.item.parent().masonry('reload');
		        },
		        cancel: '[contenteditable=true]'
		    });

		    /*$archive.masonry({7
		    	itemselector: '.layout-card',
		    	isResizable: false,
		    	columnWidth: 10 
		    });*/

		    $(".card-delete").tooltip();
		    $(".card-edit").tooltip();
		    $(".card-archive").tooltip();

		    $(".card-delete").click(function() {
		    	var $card = $(this).closest(".card");
		    	$card.fadeOut('normal', function() {
		    		$card.closest('li').remove();
		    		//$active.masonry('reload');
		    	})
		    });

		    $(".card-archive").click(function() {
		    	moveAnimate($(this).closest('li'), $archive);
		    	//$archive.masonry('reload');
		    });

		    $(".card-edit").click(function() {
		    	$(this).closest('.card').attr('contenteditable', true);
		    	$(this).closest('.card').focus();
		    });

		    $(".card").bind('clickoutside', function() {
		    	$(this).attr('contenteditable', false);
		    	//$active.masonry('reload');
		    });

		    $(".card").bind('resize', function() {
		    	//$active.masonry('reload');
		    });

		    $("#new-note").click(function() {

		    });


		    function moveAnimate(element, newParent){
				element = $(element); //Allow passing in either a JQuery object or selector
				element.find(".card").addClass("archived").removeClass("ui-resizable");
				newParent= $(newParent); //Allow passing in either a JQuery object or selector
				var oldOffset = element.offset();
				element.appendTo(newParent);
				var newOffset = element.offset();

				var temp = element.clone().appendTo('body');
				element.hide();
				temp.animate( {'top': newOffset.top, 'left':newOffset.left}, 'slow', function(){
				   element.show();
				   temp.remove();
        		});
    		}

		});
		</script>


	</head>
	<body>


		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="page-header">
			  			<h1>
			  				Outstanding Notes
			  			</h1>
						<form method="post" action="logout/">
							{% csrf_token %}
							<input type="submit" class="btn btn-inverse" id="logout" value='Log out!'/>
						</form>
						<form method="post" action="addnote/">
							{% csrf_token %}
							<input type="submit" class="btn btn-inverse" id="new-note" value='New Note!'/>
						</form>
					</div>
					<ul id="active-cards" class="card-list">
					{% for note in notes %}
						{% if not note.complete %}
							<li class="layout-card">
                                <div class="card {{note.color}}" style="width: {{ note.width }}px; height: {{ note.height }}px;">
                                    <div class="hide">
                                        <a href="#" data-toggle="tooltip" title="Delete" class="close card-delete" onclick="post_my_url('removenote/',{{note.id}})">
                                            <i class="icon-trash"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" title="Archive" class="close card-archive">
                                            <i class="icon-arrow-down"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" title="Edit" class="close card-edit">
                                            <i class="icon-edit"></i>
                                        </a>
                                    </div>
                                    <p>{{note.body}}</p>
                                    <input type="hidden" name="priority" value="{{ note.priority }}" />
                                    <input type="hidden" name="note_id" value="{{ note.id }}" />
                                </div>
                            </li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
			</div>




			<div class="row-fluid">
				<div class="span12">
					<div class="page-header">
			  			<h1>Archived Notes</h1>
					</div>

					<ul id="archived-cards" class="card-list">
					{% for note in notes %}
						{% if note.complete %}
							<li class="layout-card">
								<div class="card {{note.color}} archived">
									<p>{{note.body}}</p>
								</div>
							</li>	
						{% endif %}
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>