//@import "bootstrap/less/bootstrap.less";

@post_yellow: #FCF0AD;
@post_orange: #FCDBAD;
@post_red: #FCADAD;
@post_green: #ADFCB8;
@post_blue: #ADD3FC;
@post_pink: #FCADFB;

// *** Mix Ins *** //

.note-body(@color) {
	padding-top: 0.3em;
	border-top: 1px solid darken(@color, 10%);
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @spread: 1px, @color: #000) {
  box-shadow: @x @y @blur @spread @color;
  -moz-box-shadow: @x @y @blur @spread @color;
  -webkit-box-shadow: @x @y @blur @spread @color;
}



body {
	margin: 0;
	background-image:url('linedpaper.png');
	padding-top: 40px;
}

.ui-resizable-ghost {
	border: 1px solid #000;
}

.page-header {
	font-family: 'Waiting for the Sunrise', Helvetica, Arial, sans-serif;
	border: 0;
}

ul.card-list {
	list-style-type: none;

	.card-sortable-placeholder {
		background-image:url('bwscan.png');
	}

	.dragging {
		opacity: 0.5;
	}
}

.layout-card {
	font-size: 18px;
	min-width: 250px;
	line-height: 24px;
	margin: 5px;
	float: left;

	.card {
		padding: 1.0em;
		font-family: 'Waiting for the Sunrise', cursive;
		.box-shadow(0, 3px, 3px, 0, #666);

		.title {
			font-weight: bold;
			margin-bottom: 0.2em;
		}

		.hide {
			a {
				margin: 0 0.1em;
			}
			font-family: Helvetica, arial, sans-serif;
		}
	}


	.card:hover {
		.hide {
			display: block;
		}
	}

	.yellow {
		background-color: @post_yellow;

		p {
			.note-body(@post_yellow);
		}

		&.archived {
			background-color: desaturate(@post_yellow, 50%);
		}
	}

	.orange {
		background-color: @post_orange;

		p {
			.note-body(@post_orange);
		}

		&.archived {
			background-color: desaturate(@post_orange, 50%);
		}
	}

	.red {
		background-color: @post_red;

		p {
			.note-body(@post_red);
		}

		&.archived {
			background-color: desaturate(@post_red, 50%);
		}
	}

	.green {
		background-color: @post_green;

		p {
			.note-body(@post_green);
		}

		&.archived {
			background-color: desaturate(@post_green, 50%);
		}
	}

	.blue {
		background-color: @post_blue;

		p {
			.note-body(@post_blue);
		}

		&.archived {
			background-color: desaturate(@post_blue, 50%);
		}
	}

	.pink {
		background-color: @post_pink;

		p {
			.note-body(@post_pink);
		}

		&.archived {
			background-color: desaturate(@post_pink, 50%);
		}
	}
}